{% extends 'QuentinBundle::base.html.twig' %}

{% block title %}{{ 'single_discipline_title'|trans({'%name%' : discipline.name}) }}{% endblock %}

{% block content %}

    <h1>{{ 'single_discipline_title'|trans({'%name%' : discipline.name}) }}</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
    {{ form_end(form) }}

{% endblock %}