<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Exercice 1 - Quentin Giraud {% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        .container{
            max-width: 900px;
        }
        header{
            text-align: center;
            margin: 0 0 30px;
        }
    </style>
</head>
<body>

<header class="container">
    Navigation:
    <a href="{{ path('athlete_show') }}">{{ 'navigation_athlete'|trans }}</a>
    <a href="{{ path('discipline_show') }}">{{ 'navigation_discipline'|trans }}</a>
    <a href="{{ path('pays_show') }}">{{ 'navigation_pays'|trans }}</a>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>